ultralytics==8.0.200
torch==2.1.0
torchvision==0.16.0
tensorflow==2.13.0
opencv-python==4.8.1.78
onnx==1.14.1
onnxruntime==1.15.1
pandas==2.1.3
numpy==1.26.2
matplotlib==3.8.2
seaborn==0.13.0
albumentations==1.3.1
